
@inject SignInManager<IdentityUser> signInManager;


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body style="background-color:lightgrey">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Athithi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>

                    </li>

                    <li class="nav-item" asp-controller="food" asp-action="Index">
                    @await Component.InvokeAsync("CategoryMenu")
                    </li>

                  @*  @await Component.InvokeAsync("CategoryMenu")*@

                    @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    food
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Veg">Veg</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="NonVeg">NonVeg</a></li>

                    </ul>
                    </li>*@

                    

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Contact" asp-action="Index">Contact us</a>



                    </li>
@*
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {*@



                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="OrderDetails" asp-action="Status">Orders</a>



                        </li>
                  @*  }*@
                    @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    category
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Veg">Veg</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="NonVeg">NonVeg</a></li>

                    </ul>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Cart">Cart</a>
                    </li>*@
                    @*</li>="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    category
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">subcategory</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>*@



                     
                    @await Component.InvokeAsync("ShoppingCartSummary")
              @*      @await Html.PartialAsync("LoginPartial")*@


                </ul>
            
                <ul class="navbar-nav ml-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-controller="account" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                            @* <a asp-action="register"  asp-controller="account" class="nav-link">Register</a>*@
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
                        </li>
                    }
                </ul>
                
            </div>
        </div>
    </nav>
 

    <div class="container body-content" style="padding:50px;">
        @RenderBody()
        <hr />
        <footer>
            <p><a target="_blank" href="https://github.com/etrupja">&copy; 2023 -Aakanksha Kokane</a></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>